<% const d = new Date()
let year = d.getFullYear() %>
<footer>
  <p class="copyright">& copy ; <%= year %>, CSE 340 App <span class="errortest"><a href="/inv/type/13">Should be 500</a></span></p> <span class="errortest"><a href="/errorHandling">should be 404</a></span>
</footer>