/******* Change Box Model ***************/
*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-image: url("/images/site/checkerboard.jpg");
}

#wrapper {
  width: 70vw;
  margin: 0 auto;
  border: 3px solid aqua ;
  border-radius: 20px;
  padding: 1rem;
  background-color: white;
}

/******* Header Style Starts Here ***************/

#top-header {
  display: flex;
  /* grid-template-columns: .5fr .5fr; */
  justify-content: space-between;
  
}

.siteName a{
  color: black;
  font-size: 2rem;
  text-decoration: none;
}

#tools {
  justify-content: space-around;
}

#tools a{
  font-size: 1.2rem;
  font-weight: bold;
  margin-left: 1rem;
  color: black;
  justify-self: end;
  text-decoration: none;
}

/******* Navigation Style Starts Here ***************/
nav {
  background-color: rgb(53, 17, 110);
}
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

nav ul li {
  padding: .7rem;
  color: white;
  list-style: none;
}

nav ul li:hover{
  background-color: rgb(66, 23, 134);
}

nav ul li a{
  color: white;
  text-decoration: none;
}

/******* Main Style Starts Here ***************/
main {
  padding: 1rem;
  border: 3px solid #5555;
  border-radius: 1rem;
  box-shadow: 0 0px 10px 2px #200a44;
}

#hero-wrapper {
 display: flex;
 flex-direction: row;
 justify-content: center;
 margin-bottom: 20vh;
}

#hero-wrapper img {
  width: 90%;
}

.hero-call-to-action {
  display: flex;
  flex-direction: column;
  font-size: 1.5rem;
  color: rgb(53, 17, 110);
  left: 17vw;
  position: absolute;
  background-color: #ffffff6e;
  padding: 2rem;
  justify-content: flex-start;
  z-index: 9999999;
}

.hero-call-to-action h2{
  margin: .2rem .5rem;
}

.hero-call-to-action h3{
  margin: .1rem .5rem;
}


#ctaBtn{
  align-self: center;
  cursor: pointer;
  border: none;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgb(53, 17, 110);
  color: #eee;
  width: 90%;
  margin: 1rem;
  padding: 1rem;
}

#ctaBtn:hover{
  background-color: #0caccc;
}

#car-info {
  display: grid;
  grid-template-columns: .5fr .5fr ;
  grid-template-rows: .5fr .5fr;
  gap: 2rem;
}

#car-info h2{
  font-size: 2rem;
  margin-bottom: 3rem;
}

.car-reviews {
  font-size: 1.75rem;
  grid-column: 2/2;
}

.car-reviews ul li {
  margin: .75rem;
}


.car-upgrades{
  grid-column: 1/2;
  grid-row: 1/2;
  height: 100%;
}

.car-upgrades ul{
  display: grid;
  grid-template-columns: .5fr .5fr;
  grid-template-rows: .5fr .5fr;
  gap: 10px;
  padding: 0;
}

.car-upgrades ul li{
  display: flex;
  flex-direction: column;
  list-style: none;
  margin: 0;
  padding: 0;
  
}

.img-holder {
  display: flex;
  justify-content: space-around;
  background-color: rgb(53, 17, 110);
  border: 2px solid rgba(0,0,0,.5);
  padding: 1rem;
  width: 100%;
  height: 100%;
}


.car-upgrades ul li a {
  margin: 0;
  padding: .5rem;
  text-align: center;
}

/******* VEHICLE LISTING***********
***********************************/
#inv-display {
  display: flex;
  /* grid-template-columns:.5fr .5fr; */
  justify-content: center;
  padding: 0;
}

#inv-display li {
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  border-radius: 10px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0 10px 10px #555;
  padding: 1rem;
  width: 50%;
  flex-wrap: wrap;
  margin-left: .5rem;
}

#inv-display li h2 a{
  cursor: pointer;
  color: black;
  text-decoration: none;
}

#inv-display li img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  height: 100%;
}
.car-info {
  display: grid;
  grid-template-columns: [img-start] .5fr [img-end] .5fr;
  max-width: 100%;
  gap: 20px;
  justify-items: center;
}

.car-info img{
  display: block;
  max-width: 100%;
  max-height: 100%;
  width: 100%;
  height: 100%;
  border: 1px solid #8a8a8a;
}

.car-details {
  justify-content: center;
  display: flex;
  flex-direction: column;
  max-width: 75%;
  border: 1px solid #555;
  border-radius: 10px;
  padding: 1rem;
  line-height: 1;
  box-shadow: 0 10px 10px #555;
  text-align: center;
}
.car-details h2 {
  text-align: center;
  padding: .5rem;
  font-size: 2rem;
  margin: 0;
  background-color: #ccc8c8;
}

.car-details hr {
  width: 100%;
}

.car-details h3 {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.car-details .car-price-wrapper {
  font-size: .80rem;
  color: #eee;
  display: flex;
  flex-direction: column;
  border: 1px solid #555;
  width: 100%;
  padding: .5rem;
  border-radius: 5px;
  background-color:  rgb(53, 17, 110);
  text-align: center;
  margin-top: .5rem;
}
.car-details .car-price {
  margin-top: .5rem;
  text-align: center;
  font-size: 2rem;
}

.car-details .car-description {
  border: 1px solid #555;
  border-radius: 5px;
  padding: .5rem;
  background-color: #b3b3b3;
  text-align: left;
}

#purchaseBtn {
  margin-top: .75rem;
  cursor: pointer;
  display: block;
  max-width: 100%;
  width: 75%;
  background-color: rgb(53, 17, 110);
  color: #eee;
  border-radius: 15px;
  padding: .75rem;
  font-size: 1rem;
  font-weight: bold;
  margin: auto;
}

#purchaseBtn:hover {
  background-color: rgb(79, 26, 165);
}

/******* LOGIN VIEW*****************
***********************************/
#form-wrapper {
  display: block;
  margin: auto;
  width: 30%;
  padding: 1rem;
  background-color: #35116e;
  color: #eee;
  border-radius: 15px;
}

.myForm{
  display: flex;
  flex-direction: column;
}


.myForm fieldset span{
  margin-bottom: .5rem;
}

.myForm label{
  font-weight: bold;
  line-height: 1.5;
}


.myForm input{
  padding: .6rem;
  margin-bottom: 1rem;
}

.signUp a{
  margin-left: .5rem;
  cursor: pointer;
  color:#eee;
  font-size: 1.5rem;
  text-decoration: none;
}

#loginBtn {
  cursor: pointer;
  font-size: 1.5rem;
  font-weight: bold;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  transition: background-color 1s;
  border: 1px solid #eee;
}

#loginBtn:hover{
  color: #eee;
  background-color: #471894;
}


/* REGISTRATION VIEW */
.myForm fieldset{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

/******* MANAGEMENT STYLES*****************
******************************************/
#account-management-wrapper {
  display: flex;
  flex-direction: column;
}

#account-management-wrapper h2 {
  margin: 0;
}

#account-management-wrapper p {
  margin-bottom: 1rem;
}

#updateAccount a{
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  transition: color 1s;
  background-color: #200a44;
}

#updateAccount a:hover{
  color: #4c1c99;
}

#orderHistory a{
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  transition: color 1s;
  background-color: #200a44;
}

#orderHistory a:hover{
  color: #4c1c99;
}

#invManagement a{
  border-radius: 10px;
  padding: 1rem;
  cursor: pointer;
  font-weight: bold;
  color: #eee;
  text-decoration: none;
  transition: color 1s;
  background-color: #200a44;
  margin-top: 1rem;
}

#invManagement a:hover{
  color: #4c1c99;
}

#management-wrapper{
  border: 3px solid black;
  border-radius: 1rem;
  width: fit-content;

}

#management-wrapper ul {
  padding: .5rem;
  margin: 0 auto 0 auto;
}

#management-wrapper ul li{
  width: 100%;
  cursor: pointer;
  list-style: none;
  margin-bottom: .5rem;
  width: fit-content;
  border-radius: 10px;
  text-align: center;
  padding: .5rem;
  background-color: #35116e;
  transition: background-color .5s;
}

#management-wrapper ul li:hover{
  background-color:#6c27db;
}

#management-wrapper ul li a{
  width: 100%;
  color: #eee;
  font-weight: bold;
  font-size: 1.5rem;
  cursor: pointer;
  text-decoration: none;
}

.myForm2{
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
}


.myForm2 fieldset span{
  margin-bottom: .5rem;
}

.myForm2 label{
  font-weight: bold;
  line-height: 1.5;
}


.myForm2 input{
  padding: .6rem;
  margin-bottom: 1rem;
}

/* UPDATE VIEW */
.myForm2 fieldset{
  display: flex;
  flex-direction: column;
  padding: 1rem;
}

#updateBtn {
  cursor: pointer;
  font-size: .8rem;
  font-weight: bold;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  transition: background-color 1s;
  border: 1px solid #eee;
}

#updateBtn:hover{
  color: #eee;
  background-color: #471894;
}
/******* PURCHASE VIEW*****************
**************************************/
#purchaseForm-wrapper {
  width: 50%;
  margin: auto;
  box-shadow: 0 0 100px .5em;
}

#purchaseForm-wrapper img{
  max-width: 100%;
}

.vehicleOverview {
  border-radius: 15px;
}


.vehicleOverview {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.vehicleOverview h2 {
  text-align: center;
  width: 100%;
  padding: .5rem;
  border: 1px solid #858585;
  font-size: 2rem;
}

.vehicleOverview h2:hover {
  color: #eee;
  background-color: #35116e;
}

.vehicleOverview h3 {
  padding: .5rem;
  border: 3px solid black;
  font-size: 3rem;
}


#buyNow {
  display: flex;
  flex-direction: column;
  border-top-right-radius: 1rem;
  border-top-left-radius: 1rem;
  padding: 1rem;
  color: #eee;
  background-color: #35116e;
  box-shadow: 0 0 100px .5em;
}

#buyNow #delivery_address, #phone_number{
  display: block;
  padding: .75rem;
  min-width: 100%;
  max-width: 100%;
}

#buyNowBtn {
  cursor: pointer;
  display: block;
  border-radius: 10px;
  font-size: 1rem;
  font-weight: bold;
  width: 70%;
  padding: 1rem;
  margin: 0 auto;
  transition: background-color 1s;
}

#buyNowBtn:hover {
  color: #eee;
  background-color: #471894;
}

/******* THANK YOU PAGE STYLE*******
***********************************/



/******* ORDER HISTORY STYLES*****************
*********************************************/
.mainTable {
  border: 1px solid #555;
  padding: .5rem;
}

.mainTable tr, td, th {
  padding: .2rem;
  border: 1px solid #555;
}

/******* ADD INVENTORY STYLE*****************
********************************************/
#addInventory-wrapper{
  background-color: #35116e;
  width: 40%;
  padding: 1.5rem;
  margin: auto;
  border-radius: 15px;
}
#addInvForm{
  display: flex;
  flex-direction: column;
  color: white;
  font-size: 1rem;
}

#addInvForm label {
  line-height: 1.5;
  font-weight: bold;
}

#addInvForm input{
  padding: .50rem;
  margin-bottom: 1rem;
}

#classification_id {
  font-weight: bold;
  margin-bottom: 2rem;
  padding: .5rem;
}

#inv_color {
  margin: 0;
  padding: 0;
  height: 5vh;
}

#inv_description {
  margin-bottom: 1rem;
  padding: 1rem;
}

#addInvBtn {
  cursor: pointer;
  border-radius: 15px;
  margin: auto;
  width: 80%;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 1s;
}

#addInvBtn:hover{
  color: #eee;
  background-color: #464646;
}

/******* ADD CLASSIFICATION STYLE************
********************************************/
#addClassification-wrapper{
  width: fit-content;
  border: 3px solid black;
  border-radius: 1rem;
  padding: 1rem;
}

.addClassForm {
  display: flex;
  flex-direction: column;
}

.addClassForm input {
  padding: .8rem;
  margin-bottom: .5rem;
}

#addClassBtn {
  cursor: pointer;
  font-size: 1rem;
  font-weight: bold;
  color: #eee;
  background-color: #35116e;
  border-radius: 10px;
  transition: background-color .5s;
  padding: 1rem;
}

#addClassBtn:hover {
  background-color:#6c27db;
}

/******* EDIT INVENTORY STYLES***************
********************************************/
#editInventory-wrapper{
  line-height: 1.5;
  color: #eee;
}
#editInvForm {
  background-color: #35116e;
  display: flex;
  flex-direction: column;
  width: 40%;
  margin: auto;
  padding: 1.5rem;
  border-radius: 1rem;
}

#editInvForm input{
  padding: .8rem;
}

#editInvForm #inv_color {
  height: 1.5rem;
  margin-bottom: 1rem;
}

#editInvBtn {
  cursor: pointer;
  border-radius: 15px;
  margin: auto;
  width: 80%;
  font-weight: bold;
  font-size: 1.5rem;
  transition: background-color 1s;
}

#editInvBtn:hover{
  color: #eee;
  background-color: #464646;
}

/******* DELETE INVENTORY STYLES***************
********************************************/
#deleteInventory-wrapper {
  background-color: #35116e;
  width: 50%;
  margin: auto;
  border-radius: 1rem;
}

#deleteInvForm {
  line-height: 1.5;
  padding: 1.5rem;
  color: #eee;
  display: flex;
  flex-direction: column;
}

#deleteInvForm label {
  margin-top: .5rem;
}

#deleteInvForm input {
  padding: .75rem;
  border-end-end-radius: 10px;
}

#deleteInvBtn {
  cursor: pointer;
  font-weight: bold;
  font-size: 1.5rem;
  width: 80%;
  border-radius: 1rem;
  margin: 1rem auto auto auto;
  transition: background-color .5s;
}

#deleteInvBtn:hover {
  background-color:#6c27db;
  color: #eee;
}

/******* VALIDATION STYLES*****************
******************************************/
input:required:invalid:not(:placeholder-shown):not(.login_pass), input:focus:invalid:not(:placeholder-shown):not(.login_pass) {
  border-left:8px solid red;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

 input:required:valid:not(.login_pass) {
  border-left:8px solid green;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
 }

main .notice li{
  color: rgb(148, 9, 9);
  font-weight: bold;
}



/******* MOBILE VIEW***********
******************************/

/*************************************
 *************MEDIUM VIEW*************
 *************************************/
@media screen and (min-width:590px)and (max-width:1079px) {

  #hero-wrapper {
    margin-bottom: 10vh;
  }

  .hero-call-to-action {
    font-size: 1rem;
    width: 30vw;
    flex-grow: 1;
    padding: 0;
    margin: .5rem;
  }

  .hero-call-to-action h2{
    font-size: 1.5rem;
  }

  #ctaBtn {
    font-size: 1rem;
    width: 70%;
  }

  #hero-wrapper img {
    width: 50vw;
  }

  #car-info {
    display: flex;
    flex-direction: column;
  }

  #car-info h2{
    font-size: 1.5rem;
  }

  .car-reviews {
    font-size: 1rem;
  }

  #inv-display {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }

  #inv-display li {
    margin: 1rem 0 0 0;
    align-self: center;
    max-width: 100%;
    width: 100%;
  }

  .car-info {
    display: flex;
    flex-direction: column;
  }

  .car-details {
    max-width: 100%;
    text-align: center;
  }

  .car-details .car-price-wrapper {
    align-self: center;
  }

  #form-wrapper {
    width: 80%;
  }

  #loginBtn {
    width: 80%;
    margin: .5rem auto 0 auto;
    font-size: 1rem;
  }

  #management-wrapper {
    margin: auto;
    width: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .management-container {
    width: 100%;
    display: flex;
    flex-direction: column;
  }

  .management-container li {
    align-self: center;
  }

  #addClassification-wrapper {
    margin: auto;
  }

  #addInventory-wrapper {
    width: 80%;
  }

  #addInvBtn {
    font-size: 1rem;
  }

  #purchaseForm-wrapper {
    width: 100%;
  }

  #buyNow {
    width: 100%;
  }

  #buyNow fieldset {
    width: 100%;
  }

  #buyNow fieldset input {
    width: 100%;
  }
}

/*************************************
 ***********SMALLEST VIEW*************
 *************************************/
@media screen and (max-width:589px) {
  main {
    display: flex;
    flex-direction: column;
  }
  nav ul{
    padding: 0;
  }

  nav ul li a{
    flex-shrink: 1;
    font-size: .5rem;
  }


  #hero-wrapper {
    margin-bottom: 5vh;
  }

  .hero-call-to-action{
    width: 30vw;
    flex-grow: 1;
    padding: 0;
    margin: .5rem;
  }

  .hero-call-to-action h2 {
    font-size: 1rem;
  }

  .hero-call-to-action h3 {
    font-size: .7rem;
  }

  #ctaBtn {
    font-size: .5rem;
    width: 70%;
    padding: .5rem;
  }

  #car-info {
    display: flex;
    flex-direction: column;
  }

  #car-info img {
    display: block;
  }

  #car-info h2{
    font-size: 1rem;
  }


  .car-reviews {
    font-size: .8rem;
  }

  .car-upgrades {
    font-size: .8rem;
  }

  #inv-display {
    display: flex;
    flex-direction: column;
    flex-wrap:wrap;
    box-sizing: border-box;
  }

  #inv-display li {
    margin: 1rem 0 0 0;
    display: flex;
    max-width: 100%;
    width: 100%;
    margin-top: 1rem;
  }

  .car-info {
    display: flex;
    flex-direction: column;
  }

  .car-info h2{
    margin-bottom: 1rem;
  }

  .car-details {
    text-align: center;
    margin-top: .75rem;
    max-width: 100%;
  }

  .car-details h2{
    font-size: 1.5rem;
  }

  .car-details h3 {
    font-size: 1rem  ;
  }
  
  .car-details .car-price-wrapper {
    align-self: center;
    font-size: 1rem;
  }

  .car-details .car-price {
    font-size: 1.5rem;
  }

  #form-wrapper {
    width: 100%;
  }

  .myForm {
    width: 100%;
  }

  .myForm label {
    font-size: .8rem;
  }

  .myForm input {
    width: 100%;
  }

  .myForm2 {
    width: 100%;
  }

  .myForm2 label {
    font-size: .8rem;
  }

  .myForm2 input {
    width: 100%;
  }

  #loginBtn {
    width: 100%;
    margin: .5rem auto 0 auto;
    font-size: 1rem;
  }

  #updateBtn {
    font-size: .5rem;
    text-align: center;
  }

  #account-management-wrapper p a{
    font-size: .5rem;
  }

  .management-container {
    display: flex;
    flex-direction: column;
  }

  .management-container li {
    align-self: center;
  }

  #addClassification-wrapper {
    width: 100%;
  }

  #addClassBtn {
    font-size: .8rem;
  }

  #addInventory-wrapper {
    width: 100%;
  }

  #addInvBtn {
    font-size: .8rem;
  }

  .mainTable {
    padding: 0;
    margin: 0;
    font-size: .75rem;
    max-width: 100%;
  }

  #purchaseForm-wrapper {
    width: 100%;
  }

  #buyNow fieldset {
    width: 100%;
  }

  #buyNow fieldset input {
    width: 100%;
  }

  #buyNow p {
    font-size: .8rem;
  }

  #buyNow  h3{
    font-size: .8rem;
  }

  #buyNowBtn {
    font-size: .5rem;
  }

}




